html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
}


/*------------Header ---------------------*/
.header-section {
    max-width: 1200px;
    margin: 0 auto;
}


.site-navigation {
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


/*--------------Logo-----------------------*/
.logo {
    text-decoration: none;
}
.logo h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #95e1d3;   
}


/*-------------Navigation------------*/


.navigation-box{
    display: flex;
    justify-content: space-between;
    min-width: 491px;
}

.navigation-item {
    list-style: none;
    position: relative;
}




.link-item {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #95e1d3;
    transition: 200ms;
}

.link-item:hover {
    color: #f38181;
}

.link-item::after {
    content: '';
    display: table;
    clear: both;

    position: absolute;
    top: 150%;
    right: 0;
     
    width: 0;
    height: 3px;
    background-color: #f38181;
    
    transition: 200ms;
}
.link-item:hover:after{
    width: 100%;
    left: 0;
}


/*-------------Section Amazing Services--------*/



.container{
    margin: 0 auto;
    padding: 0;
    width: 1200px;
}


/*----------------Chapter-1---------------*/



.chapter-1{
    margin: 110px auto 66px;
    text-align: center;
    font-size:30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.chapter-1 span{
    display: block;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Kaushan Script', cursive;
    padding-bottom: 15px ;
}

.chapter-1::after{  
    content: '';
    display: table;
    clear: both;

    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 0 auto;
    margin-top: 40px;;
}




/*----------------Amazing-Service-----------*/

.section-service {
    margin: 0;
}

.service-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 auto;
    padding: 0;
}

.service-item{
    width: 320px;
    position: relative;
    list-style: none;
    margin-left: 80px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0;
}

.service-item:not( :nth-child(n + 3)){
    margin-bottom: 100px;
}


.service-item h3{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    margin: 0;
    margin-bottom: 20px;
}

.service-item p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #b3b3b3;
}

.service-item::before{
    position: absolute;
    right: 100%;

    content: '';
    display: block;

    width: 80px;
    height: 70px;

    background-repeat: no-repeat;
    background-position: top;
}






/*---------------Amazing-Service--Icon--------------------------*/




.alarm::before{
    background-image: url('../img/icon/ALARM.png');
}
.line-graph::before{
    background-image: url('../img/icon/LINE\ GRAPH.png');
}
.computer::before{
    background-image: url('../img/icon/COMPUTER\ _\ OK.png');
}
.book::before{
    background-image: url('../img/icon/BOOK2.png');
}
.home::before{
    background-image: url('../img/icon/HOME.png');
}

.digital::before{
    background-image: url('../img/icon/digital.png');
}



/*----------------------Section MEET OUR TEAM-----------------*/


.section-team{
    margin: 0;
    padding-bottom: 85px;
}

.team-text{
    margin: 0 auto;
    padding-bottom: 95px;
    width: 980px;
    text-align: center;
}
.team-text p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #b3b3b3;
}


/*--------------------------------Team-Box------------------*/




.team-box{
    margin: 0;
  
}
.team-list{
    list-style: none;
    display: flex;
    justify-content: space-between;
}


/*----------------Overlay--MAGIC------------------------------------*/


.overlay{
    margin-bottom: 30px;
    position: relative;
    width: 100%;
    transition: linear 200ms;   
    font-size: 0;
}



.team-item:hover .overlay{
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 0  rgba(149, 255, 211, 1);
}


.btn-overlay{
    margin: 207px auto;
    position: absolute;
    display: none;
    bottom: 0;
    top: 0;
    margin: auto; 
    width: 100%;
    height: 100%; 
    background: linear-gradient( rgba(243,129,129,0.5),rgba(252,227,138,0.5));
}
.overlay:hover .btn-overlay{  
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.overlay-icon{
    background-color: #fce38a;
    border: none;
    outline: none;
    margin:1px;
    width: 55px;
    height: 55px;
    cursor: pointer;
    transition: linear 200ms;
    background-repeat: no-repeat;
    background-position: center;
}
.overlay-icon:hover {
    background-color: #95e1d3;
}


/*-------------------------ICON---OVERLAY-----------------*/
.facebook{
    background-image: url('../img/icon/facebook.png');
}
.tweeter{
    background-image: url('../img/icon/twitter.png');
}
.page{
    background-image: url('../img/icon/pinterest.png');
}
.instagram{
    background-image: url('../img/icon/instagram.png');
}


/*--------TEXT TEAM-LIST --------------------*/
.team-item h3, .team-item p{
    text-align: center;
}


.team-item h3{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding-bottom: 15px;
}

.team-item p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 200;
    color: #b3b3b3;
}



/*---------------------Footer------------------*/




.section-footer{
    width: 1200px;
    margin: 0 auto;
}

.footer-box{
    min-height: 60px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #b3b3b3;
}

.footer-box span{
    color: #f8bfbf;
}

.subscribe{
    font-size: 0;
    margin: 0;
    padding: 0;
    height: 40px;
    
}

.subscribe input {
    height: 40px;
    
}

.subscribe input[type="text"]{
    background: #fff;
    width: 230px;
    height: 36px;
    font-style: italic;
    outline: none;
    padding: 0 12px; 
    opacity: 0.5;
    
   

    
}

.subscribe input[type="submit"]{
    color: #fff;
    background-color: #95e1d3;
    width: 160px;
    font-weight: 500;
    position: relative;

    border: none;
    outline: none;

    transition: linear 200ms;
}

.subscribe input[type="submit"]:hover {
    background-color: #45e2c5;
}
