@font-face{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    src: url('../fonts/montserrat.woff');
}
@font-face{
    font-family: 'Montserrat Bold';
    font-weight: 700;
    font-size: 14px;
    src: url('../fonts/montserratbold.woff');
}
@font-face{
    font-family: 'Roboto Light';
    font-weight: 300;
    font-size: 14px;
    src: url('../fonts/Robotolight.woff');
}
@font-face{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    src: url('../fonts/Roboto.woff');
}
html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('../img/bg3.png');
    background-repeat: no-repeat;
    background-position: top;
    margin: 0;
    padding: 0;
}


/*----Header----*/
.site-header{
    margin: 0 auto;
    width: 940px;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.site-logo{
    font-family: 'Montserrat Bold';
    margin: 0;
    color: azure;
    font-size:20px;
    text-decoration: none;
}

.header-button {
    font-family: 'Montserrat Bold';
    font-size: 14px;
    color: #ffffff;
    width: 90px;
    height: 36px;
    background-color: transparent;
    border: 2px solid transparent;
    outline: none;
    border-radius: 25px;
    transition: linear 200ms;
    cursor: pointer;
}
.header-button:hover{
    border: 2px solid #ffffff;
}


/*-------MAIN------*/

.main{
    margin: 0 auto;
    width: 940px;
    padding-bottom: 70px;
}

.mian-padding{
    padding-top: 142px;
    padding-bottom: 218px;
}

.section-main{
    display: flex;
    flex-direction: column;
    text-align: center;
}
/*.section-box{
    margin: 0;
    padding: 0;
    padding-top: 150px;
    text-align: center;
}
*/
.section-box{
    margin: 0 auto;
    width: 500px;
    font-family: 'Montserrat Bold';
}
.section-box-h2{
    margin: 0;
    padding-bottom: 40px;
    font-size: 52px;
    color: #ffffff;
}
.section-box-text{
    margin: 0;
    padding-bottom: 34px;
    color: #ffffff;
    font-size: 24px;
    font-family: 'Roboto Light';
}

.section-main-button{
    padding: 12px 25px;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Montserrat Bold';
    cursor: pointer;
    border: none;
    border-radius: 25px;
    outline: none;
    background: #ff4e5171;
    transition: linear 200ms;
}
.section-main-button:hover{
    background-color:#ff4e50;
}


/*---------SEction0Meet-----------*/

.section-meet{
    padding-top: 72px;
}
.section-meet-container{
    margin-bottom: 40px;
}

.section-meet-container h2{
    font-family: 'Montserrat Bold';
    font-size: 22px;
    padding-bottom: 32px;
    margin: 0;
    text-align: center;
}
.meet-box p{
    font-family: arial;
    font-weight: lighter;
    font-size: 14px;
}
.meet-box{
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.meet-item{
    font-family: 'Montserrat Bold';
    list-style: none;
    text-align: center;
    width: 220px;
}
.meet-item img, .meet-item h3{
    margin-bottom: 20px;
}

.meet-item p{
    font-family: 'Roboto Light';
}

.section-meet-btn{
    text-align: center;
}
.meet-block-button{
    padding: 12px 27px;
    font-family: 'Montserrat Bold';
    font-size: 14px;
    cursor: pointer;
    outline: none;
    border-radius: 25px;
    background-color: transparent;
    color: #ff4e50;
    border:2px solid #ff4e50;
    transition: linear 200ms;
}
.meet-block-button:hover{
    color: #ffffff;
    background-color:#ff4e50 ;
}


