html{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}






/*----------------Header-Site-navigation---------*/







.site-header{
    font-size: 0;

}

.site-navigation {  
    width: 1110px;
    height: 28px;
    font-size: 0;
    margin: 0 auto;
    padding: 40px 0 30px;    
}


.logo {
    text-decoration: none;
    margin-right: 544px;
    float: left;
    
}
.logo h2{
    font-family: 'Roboto', sans-serif;
    color: black;
    line-height: 28px;
    font-size: 32px;
    font-weight: 300;
}

.logo::first-letter {
    font-weight: 900;
    color:#29bea0;
}

.navigation-item a{
    display: block;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 14px;
    color: black;
    letter-spacing: -0.28px;
    text-decoration: none;
}
.navigation-item a:hover{
    color: #1abc9c;
}

.navigation-item {
    padding-top: 5px;
    float: right;
    margin: 0;
    list-style: none;
}
.navigation-item li{
    float: left;
}
.navigation-item li:not(:last-child) {
    margin-right: 30px;
}


/*------------Section Slider--------------*/




.section-slider{
    margin: 0 auto;
}

.slider-box{
    position: relative;
    margin: 0 auto;
    width: 1110px;
}
.sliders {
    margin: 0;
    padding: 0;
    list-style: none;
}



.section-slider img{
    margin: 0 auto;
    width: 1600px;
    height: 600px;
    display: block;
} 




/*---------------Button -Slider--------------*/





.button-slired{
    position: absolute;
    bottom: 250px;


    display: inline-block;
    margin: 0;
    padding: 0;
    width: 104px;
    height: 104px;
    background-color: #4ec6ac7a;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
}

.ctrl-prev{
    background-image: url('../images/icon/Arrow-prev.png');
    left: 0;
}
.ctrl-next{
    background-image: url('../images/icon/Arrow.png');
    right: 0;
}

.button-slired:hover {
    outline: none;
    background-color: #4ec6ab;
}


/*----------------Text -Slider--------------*/






.paris-text {
    color:  white;
    font-size: 0;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 283px;
    left: 180px;
}

.paris-text h2{
    letter-spacing:  -1.2px;
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
}

.paris-text p{
    font-size: 24px;
    font-weight: 300;
    
    
}

/*-------------Section NEW COLLECTION --------*/






.section-new-collection {
    background-color: #e9f0fd;
    margin: 0 auto;

    

}

/*-------------Chapter --------*/






.chapter-1{
    padding-top: 101px;
    margin-bottom: 82px;
    color: #515151;
    font-size: 48px;
    font-family: 'Roboro', sans-serif;
    text-transform: uppercase;
    text-align: center;
}
.chapter-1::after{
    content: '';
    display: table;
    clear: both;
    width: 167px;
    height: 7px;
    margin: 32px auto;
    background-color: #1abc9c ;
}

/*-------------Collction-Block --------*/



.collection-block {
    height:322px ;
    width: 1110px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.collection-shirt {
    position: relative;
}

/*-------------Overlay -BOX------------*/





.overlay-box {
    margin: 10px;
    padding: 0;
    display: none;
    position: absolute;
    z-index: 1;
    width: 235px;
    height: 262px;
    background-color: rgba(0, 0, 0, 0.55);
    transition: 0.5s;
}
    

.collection-shirt:hover .overlay-box {   
    display:block;
    
    
      
    
}
/*-----------Overlay -----------*/




.overlay {
    width: 170px;
    height: 110px;
    margin: 85px auto;
    
}

/*-----------Overlay - Icon----------*/






.icon-items button{
    margin-right: 6px;
    float: left;
    position: relative;
    
}
.icon-items button:nth-child(3){
    margin-right: 0;
}
.icon-items button:nth-child(4){
    margin: 0;
}

.overlay-icon{
        font-size: 14px;
        text-decoration: none;
        position: absolute;
        width: 50px;
        height: 50px;
        border: 1px solid #fff;
        margin-bottom: 7px;     
        background-image: none;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        
        
}

.overlay-icon:hover{
    border: none;
    background-color: #1abc9c; 
    transition: 0.5s;
}

.like {
    background-image: url('../images/icon/like.png');    
}

.compare{
    background-image: url('../images/icon/compare.png');    
}

.history{
    background-image: url('../images/icon/history.png');
}

.buy{
    position: relative;
    background-image: url('../images/icon/buy.png');
    background-color:#515151 ;
    background-position: 15px 10px;
    width: 167px;
    
}

.text-icon{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: ivory;
    position: absolute;
    top: 15px;
    right: 13px;
}





/*--------------NEW COLLCTION--------*/






.product-new {
    position: relative;
    text-decoration: none;
    
}



.collection-block li{
    list-style: none;
    float: left;
    margin-right: 30px;
    
}
.collection-block li:nth-child(4){
    margin-right: 0;
}

.collection-shirt{
    font-size: 0;
    background-color: white;
    width: 255px;
    height: 322px;
    
}


.name-product{
    padding: 0;
    margin: 0;
    position: absolute;
    width: 255px;
    height: 40px;
    background-color: #323232;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Roboto - Black', sans-serif;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: -0.36px;

    bottom: 0;
}

.name-product .name{
    float: left;
    padding-top: 4px;
    padding-left: 12px;
}
.name-product .price {
    text-align: center;
    margin: 0;
    padding: 4px;
    width: 40px;
    height: 32px;
    background-color: rgba(255, 255, 255, 0.44);
    float: right;
}

.collection-shirt:hover .name-product {
    background-color: #1abc9c;
}







/*----------------Footer -----------------*/





.footer-page{
    margin: auto;
    background-color: #323232;;
}

.text-footer{
    padding: 38px 0 33px;
    text-align: center;
    color: #fefefe;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;

}
.green-text{
    color: #46bfa9;
    letter-spacing: -0.32px;
}

.rights-text{
    letter-spacing: -0.32px;
}