$header-decoretext-Kaushan:'Kaushan Script',sans-serif;
$page-font-Montserrat: 'Montserrat',sans-serif;
$text-color-describe:'Roboto', sans-serif;

$primery-gray-color-describe:#999;
$primary-color:#fff;
$primary-accent-color:#fce38a;
$primery-color-underline-title:#f38181;
