/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */


@font-face {
    font-family: 'Kaushan Script';
    src: url('../font/Kaushanscript.woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family:'Montserrat';
    src: url('../font/montserratbold.woff');
    font-weight: 600;
    font-style: bold;
}

@font-face {
    font-family:'Montserrat';
    src: url('../font/montserrat.woff');
    font-weight: 500;
}
@font-face {
    font-family:'Roboto';
    src: url('../font/Roboto.woff');
    font-weight: 400;
    font-style: normal;
}



html{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
}


/*------------Header ---------------------*/



.page-header__back-img {
    background-image: url('../img/bg/Layer\ 15.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 950px;
}
.page-navigation {
    width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;    
}


/*--------------Logo-----------------------*/
.site-logo {
    text-decoration: none;
}
.site-logo__text{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #fff;   
}


/*-------------Navigation------------*/


.page-header__navigation-box {
    min-width: 491px;
}


.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.site-navigation__item {
    list-style: none;
    position: relative;
}


.site-navigation__link {
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    -webkit-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
}

.site-navigation__link:hover {
    color: #fce38a;
}

.site-navigation__link::after {
    content: '';
    display: table;
    clear: both;

    position: absolute;
    top: 150%;
    right: 0;
     
    width: 0;
    height: 3px;
    background-color: #fce38a;
    
    -webkit-transition: 200ms;
    
    -o-transition: 200ms;
    
    transition: 200ms;
}
.site-navigation__link:hover:after{
    width: 100%;
    left: 0;
}


.site-navigation__link--icon{
    display: inline-block;
    width: 18px;
    height: 18px;
    fill: #fff;
}

.site-navigation__link--icon:hover {
    fill: #fce38a;
}
/*-------------Header-Charge-Creative--------*/

.header-charge {
    margin: 0 auto;
    width: 800px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;   
    padding-top: 180px;
}

.header-charge__text-creative {
    font-family: 'Kaushan Script';
    font-weight: 400;
    font-size:72px;
    color: #fff;
    padding-bottom: 40px;
}
.header-charge__title {
    margin: 0;
    font-family:'Montserrat';
    font-weight: bold;
    font-size: 150px;
    line-height: 130px;
    color: #fff;
    padding-bottom: 140px;
}

.header-charge__btn {
    color: #fff;
    font-family:'Montserrat';
    font-weight: bold;
    font-size:14px;
    margin: 0;
    padding:12px 30px;
    border: 3px solid #fff;
    outline: none;
    background: transparent;
    cursor: pointer;
    -webkit-transition: linear 200ms;
    -o-transition: linear 200ms;
    transition: linear 200ms;
}

.header-charge__btn:hover {
    background-color: #fff;
    color: #efc888;
}
/*-------------Section Amazing Services--------*/



.section {
    width: 1200px;
}

.list {
    margin: 0 auto;
    padding: 0;
}

/*----------------section__title--------------*/



.section__title{
    margin: 110px auto 66px;
    text-align: center;
    font-size:30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.section__title span{
    display: block;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Kaushan Script', cursive;
    padding-bottom: 15px ;
}

.section__title::after{  
    content: '';
    display: table;
    clear: both;

    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 40px auto 0;
}




/*----------------Amazing-Service-----------*/

.service__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.service__item{
    width: 320px;
    position: relative;
    list-style: none;
    margin-left: 80px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0;
}

.service__item:not( :nth-child(n + 3)){
    margin-bottom: 100px;
}


.service__item-title{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    margin: 0;
    margin-bottom: 20px;
}

.service__item-text{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #b3b3b3;
}

.service__icon::before{
    position: absolute;
    right: 100%;

    content: '';
    display: block;

    width: 80px;
    height: 70px;

    background-repeat: no-repeat;
    background-position: top;
}






/*---------------Amazing-Service--Icon--------------------------*/




.service__icon--alarm::before{
    background-image: url('../img/icon-services/ALARM.png');
}
.service__icon--line-graph::before{
    background-image: url('../img/icon-services/LINE\ GRAPH.png');
}
.service__icon--computer::before{
    background-image: url('../img/icon-services/COMPUTER\ _\ OK.png');
}
.service__icon--book::before{
    background-image: url('../img/icon-services/BOOK2.png');
}
.service__icon--home::before{
    background-image: url('../img/icon-services/HOME.png');
}

.service__icon--digital::before{
    background-image: url('../img/icon-services/digital.png');
}



/*----------------------Section MEET OUR TEAM-----------------*/


.team{
    padding-bottom: 85px;
}

.wrapper-team{
    margin: 0 auto;
    padding-bottom: 95px;
    width: 980px;
    text-align: center;
}
.wrapper-team__tex{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #b3b3b3;
}


/*--------------------------------Team-Box------------------*/



.team__list{
    list-style: none;
}

.team__item {
    text-align: center;
}
/*----------------Overlay--MAGIC------------------------------------*/


.team__item-overlay{
    margin-bottom: 30px;
    position: relative;
    width: 100%;
    -webkit-transition: linear 200ms;
    -o-transition: linear 200ms;
    transition: linear 200ms;   
    font-size: 0;
}



.team__item:hover .team__item-overlay{
    -webkit-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
    -webkit-box-shadow: 10px 10px 0  rgba(149, 255, 211, 1);
            box-shadow: 10px 10px 0  rgba(149, 255, 211, 1);
}


.item-overlay__btn{
    
    position: absolute;
    top: 0;
    bottom: 0;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    opacity: 0;

    width: 100%;
    height: 100%; 

    background: -webkit-gradient( linear,left top, left bottom,from(rgba(243,129,129,0.5)),to(rgba(252,227,138,0.5))); 

    background: -o-linear-gradient( rgba(243,129,129,0.5),rgba(252,227,138,0.5)); 

    background: linear-gradient( rgba(243,129,129,0.5),rgba(252,227,138,0.5));
    -webkit-transition: linear 200ms;
    -o-transition: linear 200ms;
    transition: linear 200ms;
}
.team__item-overlay:hover .item-overlay__btn{  
    opacity: 1;
  
}

.item-overlay__btn-icon{
    background-color: #fce38a;
    border: none;
    outline: none;
    margin:1px;
    width: 55px;
    height: 55px;
    cursor: pointer;
    -webkit-transition: linear 200ms;
    -o-transition: linear 200ms;
    transition: linear 200ms;
    background-repeat: no-repeat;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.item-overlay__btn-icon:hover {
    background-color: #f38181;
}


/*-------------------------ICON---OVERLAY-----------------*/
.item-overlay__btn-svg{
    display: block;
    width: 28px;
    height: 56px;
    fill: #f38181;
}

.item-overlay__btn-icon:hover .item-overlay__btn-svg {
    fill:#fff;
}


/*--------TEXT TEAM-LIST --------------------*/


.team__item-name{
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 300;
    padding-bottom: 15px;
}

.team__item-profession{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 200;
    color: #b3b3b3;
}



/*---------------------Footer------------------*/



.footer__wrapper{
    min-height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 1px solid #b3b3b3;
}
footer__wrapper-text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    color: #808080;
}
.footer__wrapper-text--pink {
    color: #f8bfbf;
}

.footer__form{
    font-size: 0;
    height: 40px;    
}

.footer__form-email[type="text"]{
    background: #fff;
    width: 230px;
    height: 36px;
    font-style: italic;
    outline: none;
    padding: 0 12px; 
    opacity: 0.5;
    font-size: 15px;
}

.footer__form-btn[type="submit"]{
    color: #fff;
    background-color: #95e1d3;
    font-weight: bold;
    font-size: 14px;
    position: relative;
    top: 1px;
    left:-1px;
    border: none;
    outline: none;
    -webkit-transition: linear 200ms;
    -o-transition: linear 200ms;
    transition: linear 200ms;
    cursor: pointer;
    font-family: 'Montserrat';
    padding:12px 35px;
}

.footer__form-btn[type="submit"]:hover {
    background-color: #45e2c5;
}


@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (-webkit-min-device-pixel-ratio:2), (-o-min-device-pixel-ratio:2/1), (min-resolution:2dppx) {
    .page-header__back-img {
        background-image: url('../img/bg/Layer\ 15@2x.png');
        
    }
    .service__icon--alarm::before{
        background-image: url('../img/icon-services/ALARM@2x.png');
    }
    .service__icon--line-graph::before{
        background-image: url('../img/icon-services/LINE\ GRAPH@2x.png');
    }
    .service__icon--computer::before{
        background-image: url('../img/icon-services/COMPUTER\ _\ OK@2x.png');
    }
    .service__icon--book::before{
        background-image: url('../img/icon-services/BOOK\ 2@2x.png');
    }
    .service__icon--home::before{
        background-image: url('../img/icon-services/HOME@2x.png');
    }
    
    .service__icon--digital::before{
        background-image: url('../img/icon-services/digital@2x.png');
    }
}