
@font-face {
    font-family: 'Kaushan Script';
    src: url('../font/Kaushanscript.woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family:'Montserrat';
    src: url('../font/montserratbold.woff');
    font-weight: 600;
    font-style: bold;
}

@font-face {
    font-family:'Montserrat';
    src: url('../font/montserrat.woff');
    font-weight: 500;
}
@font-face {
    font-family:'Roboto';
    src: url('../font/Roboto.woff');
    font-weight: 400;
    font-style: normal;
}

/*-----Header--------*/
.header-site_bg {
    background-image: url('../img/bg/Layer\ 15.png');
    background-repeat: no-repeat;
    background-position: center;
}

.header-eagle_bg {
    margin: 0 auto;
    max-width: 1200px;
    height: 950px;
}


.header-site_navigation {
    margin-left: 140px;
}


.nav-link {
    font-family:'Montserrat';
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    transition: linear 200ms;
}
.nav-link_aftert::after {
    content: '';
    display: block;
    clear: both;
    width: 100%;
    height: 3px;
    background: #fce38a; 
    opacity: 0;
    margin-top: 5px;
}
.nav-link:hover::after {
    opacity: 1;
}

.nav-link--hover:hover {
    color: #fce38a;
}


.inline-svg-icon{
    display: inline-block;
    width: 18px;
    height: 18px;
    fill: #fff;
}

.nav-link_svg--hover:hover {
    fill: #fce38a;
}

.logo-site,
.header-site_subtitle,
.header-site_title{
    color:#ffffff;
}

.logo-site {
    font-family:'Montserrat';
    font-weight: bold;
    font-size: 30px;
    line-height: 32px;
}


.btn_border{
    font-family:'Montserrat';
    font-weight: bold;
    font-size: 14px;
    padding: 10px 30px;
}

.title-box {
    padding-top: 180px;
    margin: 0 auto;
} 

.header-site_subtitle {
    font-family: 'Kaushan Script';
    font-weight: normal;
    font-size: 72px;
    padding-bottom: 42px;
}
.header-site_title {
    font-family:'Montserrat';
    font-weight: bold;
    font-size: 150px;
    line-height: 140px;
    padding-bottom: 140px;
}
.header-site_btn {
    text-align: center;
}


/*---MAIN---*/
.main {
    margin: 0 auto;
    width: 1200px;
}


/*-----SECTION---CERVICE-----*/
.section-caption {
    font-family: 'Kaushan Script';
    font-weight: normal;
    font-size: 24px;
    padding-top: 48px; 
}
.section-title {
    font-family:'Montserrat';
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 45px;
}

.section-title--after::after {
    content:'';
    display: block;
    clear: both;
    width: 60px;
    height: 3px;
    background: #f38181;
    margin: 0 auto;
    margin-top:40px;
}

.holder-services_subtitle {
    font-family:'Montserrat';
    font-weight: 400;
    font-size: 14px;
    color: #333333;
    margin-bottom: 20px;
    position: relative;
}

.icon-services {
    text-align: right;
    
}
.services-item {
    margin-bottom:100px ;
}
.holder-services_text {
    font-family:'Roboto';
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #999999;
}

.team--desc {
    margin-bottom: 90px;
}

.test {
    margin:0 15px;

}

.holder-services_img{
    width: 380px;
    height: 470px;
    margin-bottom: 30px;
}

.holder-services_img-hover:hover{
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 0  rgba(149, 255, 211, 1);
    transition: ease-in-out 200ms;
}


.holder-services_name{
    font-family:'Montserrat';
    font-size: 14px;
}

.holder-services_activity{
        font-family:'Roboto';
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: #999999;
}


/*------Overlay-----*/

/*----------------------Section MEET OUR TEAM-----------------*/


.section__team{
    margin: 0;
    padding-bottom: 85px;
}

.section__team--text{
    margin: 0 auto;
    padding-bottom: 95px;
    width: 980px;
    text-align: center;
}
.section__team--text p{
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 300;
    color: #b3b3b3;
}


/*--------------------------------Team-Box------------------*/




.section_team-box{
    margin: 0 auto;
  
}
.section_team-box__list{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.section_team-box__item{
    margin-right: 25px;
}

/*----------------Overlay--MAGIC------------------------------------*/


.section_team--overlay{
    margin-bottom: 30px;
    position: relative;
    width: 100%;
    transition: linear 200ms;   
    font-size: 0;
}



.section_team-box__item:hover .section_team--overlay{
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 0  rgba(149, 255, 211, 1);
}


.section_team--overlay__btn{
    
    position: absolute;
    top: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;

    width: 100%;
    height: 100%; 

    background: linear-gradient( rgba(243,129,129,0.5),rgba(252,227,138,0.5));
    transition: linear 200ms;
}
.section_team-box__item--hover:hover .section_team--overlay__btn{  
    opacity: 1;
  
}
/*-------------------------ICON---OVERLAY-----------------*/
.overlay-icon{
    background-color: #fce38a;
    border: none;
    outline: none;
    margin:1px;
    width: 55px;
    height: 55px;
    cursor: pointer;
    transition: linear 200ms;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.overlay-icon__hover:hover {
    background-color: #f38181;
}


.overlay-icon__svg{
    display: block;
    width: 28px;
    height: 56px;
    fill: #f38181;
}

.overlay-icon__hover:hover .overlay-icon__svg {
    fill:#fff;
}



/*--------TEXT TEAM-LIST --------------------*/
.section_team-box__item h3, .section_team-box__item p{
    text-align: center;
}


.section_team-box__item h3{
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 500;
}

.section_team-box__item p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 200;
    color: #b3b3b3;
}


/*-----------------------------------------*/
.holder-services_overlay {
    position: relative;
    width: 100%;
    transition: linear 200ms;   
    font-size: 0;
}

.holder-services__overlay--btn {
    position: absolute;
    top: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;

    width: 100%;
    height: 100%; 

    background: linear-gradient( rgba(243,129,129,0.5),rgba(252,227,138,0.5));
    transition: linear 200ms;
}
.holder-services_img-hover:hover .holder-services__overlay--btn{
    opacity: 1;
}

.holder-services__overlay--btn___link-sociale {
    background-color: #fce38a;
    border: none;
    outline: none;
    margin:1px;
    width: 55px;
    height: 55px;
    cursor: pointer;
    transition: linear 200ms;
    background-repeat: no-repeat;
    background-position: center;
}

/*-----Footer-----*/


.footer__site{
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.footer__box{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #b3b3b3;
}
.footer__box--text{
    font-family: 'Montserrat';
    font-size: 14px;
    display: flex;
}
.footer__box span{
    padding-left: 3px;
    color: #f8bfbf;
}

.footer__box--subscribe{
    margin: 0;
    padding: 0;
    height: 40px;
}



.footer__box--subscribe input[type="text"]{
    position: relative;
    top: 2px;
    background: #fff;
    height: 38px;
    font-style: italic;
    outline: none;
    padding: 0 12px; 
    opacity: 0.5;
}

.footer__box--subscribe input[type="submit"]{
    color: #fff;
    background-color: #95e1d3;
    font-family:'Montserrat';
    font-weight: bold;
    font-size: 14px;
    line-height: 12px;

    width: 150px;
    height: 38px; 
    position: relative;
    top: 0;
    left: -5px;

    border: none;
    outline: none;

    transition: linear 200ms;
    cursor: pointer;
}

.footer__box--subscribe__hover input[type="submit"]:hover {
    background-color: #45e2c5;
}
